body {
  margin: 0;
  font-family: sans-serif;
  background: #F7F8FA;
  color: #47494a;
  text-align: center;
}
.App{
  width: 960px;
  margin: 0 auto;
}
h1{
  color: #47494a;
  font-size: 4em;
  letter-spacing: 2px;
}
button{
  margin: 0 10px;
  background: transparent;
  border: 1px solid #FFA116;
  border-radius: 20px;
  padding: 10px;
  color: #FFA116;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover{
  color: #FFA116;
  border-color: rgb(97, 95, 95);
}
.content{
  text-align: left;
}
.card{
  padding: 8px 16px;
  background: #FFFFFF;
  margin: 16px 0;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card p{
  margin: 6px 0;
  color: #47494a;
}
.card h3{
  margin: 10px 0;
  color: #FFA116;
}

